body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



nav a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.recipe-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.ingredients-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ingredients-table th,
.ingredients-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ingredients-table th {
    background-color: #f5f5f5;
}

.steps-list {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 20px;
}

footer {
    text-align: center; /* Horizontally center text */
    padding: 10px 0;
}